<h1>Gemüsekisten</h1>
<p>174 Abonnenten</p>
<div id="boxes__wrapper"
     class="boxes__wrapper">
</div>
<div class="planMultiBoxes__wrapper"
     id="planMultiBoxes__wrapper">
  <h3 id="planMultiBoxes__h3"
      class="planMultiBoxes__h3">Serie planen
    <span class="closeSymbol"
          id="planMultiBoxes__close">&#65291;</span>
  </h3>
  <div class="planMultiBoxes__inputWrapper"
       id="planMultiBoxes__inputWrapper">
    <label for="firstBoxDay">Erste Gemüsekiste</label>
    <input type="date"
           name="firstBoxDay"
           id="firstBoxDay">
    <label for="lastBoxDay">Letzte Gemüsekiste</label>
    <input type="date"
           name="lastBoxDay"
           id="lastBoxDay">
    <label for="boxInterval">Intervall</label>
    <select name="boxInterval"
            id="boxInterval">
      <option value="7">wöchentlich</option>
      <option value="14">2-wöchig</option>
      <option value="21">3-wöchig</option>
      <option value="28">4-wöchig</option>
    </select>
  </div>
  <div class="planMultiBoxes__dates"
       id="planMultiBoxes__dates"></div>
  <a href="#"
     id="planMultiBoxes__saveButton"
     class="button">0 Kisten Hinzufügen</a>
</div>
<div class="addBox__wrapper"
     id="addBox__wrapper">
  <h3 id="addBox__h3"
      class="addBox__h3">Kiste hinzufügen
    <span class="closeSymbol"
          id="addBox__close">&#65291;</span>
  </h3>
  <div class="addBox__inputWrapper"
       id="addBox__inputWrapper">
    <label for="addBox__inputYear"
           id="addBox__inputYearLabel">Jahr</label>
    <select name="addBox__inputYear"
            id="addBox__inputYear">
    </select>
    <label for="addBox__inputDate"
           id="addBox__inputDateLabel">Datum</label>
    <select name="addBox__inputDate"
            id="addBox__inputDate">
    </select>
  </div>
  <a href="#"
     id="addBox__saveButton"
     class="button">1 Kiste Hinzufügen</a>
</div>
<hr>
<h1>Aussaaten</h1>
<code id="sowings"></code>
<div class="sowing"
     id="sowing">
  <span class="closeSymbol"
        id="sowingForm__close">&#65291;</span>
  <div id="veggie">
    <h3 id="veggieName"
        class="addSowing__veggieName"></h3>
    <select name="culture"
            id="culture"></select>
    <select name="variety"
            id="variety"></select>
  </div>
  <div id="sowingForm__sowingDateWrapper">Aussaat-Datum:
    <span id="sowingForm__sowingDate"></span>
  </div>
  <div id="sowingForm__firstCropDateWrapper">Erster Ernte-Termin:
    <span id="sowingForm__firstCropDate"></span>
  </div>
  <div class="wrapper3columns"
       id="sowingInfos">
    <label for="seedAmount">Aussaat Menge</label>
    <input type="text"
           name="seedAmount"
           id="seedAmount">
    <div></div>
    <label for="bedLength">Beet-Länge (m)</label>
    <input type="text"
           name="bedLength"
           id="bedLength">
    <div></div>
    <label for="quickpotAmount">Quickpots</label>
    <input type="text"
           name="quickpotAmount"
           id="quickpotAmount">
    <div id="quickpotSize"></div>
  </div>
  <div id="quickpotImages"
       class="quickpots">
  </div>
  <div class="cropsWrapper"
       id="sowingForm__cropsWrapper">
  </div>
  <a href="#"
     class="button"
     id="resetSowingForm">Reset</a>
  <a href="#"
     class="button button--attention"
     id="saveSowing">Speichern</a>
</div>