<h1>Gemüsekisten</h1>
<p>50 Abonnenten</p>
<div id="boxes__wrapper"
     class="boxes__wrapper">
</div>
<div class="addBoxes__wrapper"
     id="addBoxes__wrapper">
  <h3 id="addBoxes__h3"
      class="addBoxes__h3">Serie planen
    <span class="__closeSymbol"
          id="addBoxes__close">&#65291;</span>
  </h3>
  <div class="addBoxes__inputWrapper"
       id="addBoxes__inputWrapper">
    <label for="addBoxes__firstDay">Erste Gemüsekiste</label>
    <input type="date"
           name="addBoxes__firstDay"
           id="addBoxes__firstDay">
    <label for="addBoxes__lastDay">Letzte Gemüsekiste</label>
    <input type="date"
           name="addBoxes__lastDay"
           id="addBoxes__lastDay">
    <label for="addBoxes__interval">Intervall</label>
    <select name="addBoxes__interval"
            id="addBoxes__interval">
      <option value="7">wöchentlich</option>
      <option value="14">2-wöchig</option>
      <option value="21">3-wöchig</option>
      <option value="28">4-wöchig</option>
    </select>
  </div>
  <div class="addBoxes__dates"
       id="addBoxes__dates"></div>
  <a href="#"
     id="addBoxes__saveButton"
     class="button">0 Kisten Hinzufügen</a>
</div>
<div class="addBox__wrapper"
     id="addBox__wrapper">
  <h3 id="addBox__h3"
      class="addBox__h3">Kiste hinzufügen
    <span class="__closeSymbol"
          id="addBox__close">&#65291;</span>
  </h3>
  <div class="addBox__inputWrapper"
       id="addBox__inputWrapper">
    <label for="addBox__inputYear"
           id="addBox__inputYearLabel">Jahr</label>
    <select name="addBox__inputYear"
            id="addBox__inputYear">
    </select>
    <label for="addBox__inputDate"
           id="addBox__inputDateLabel">Datum</label>
    <select name="addBox__inputDate"
            id="addBox__inputDate">
    </select>
  </div>
  <a href="#"
     id="addBox__saveButton"
     class="button">1 Kiste Hinzufügen</a>
</div>
<hr>
<h1>Aussaaten</h1>
<code id="sowings"></code>
<!--NEW CODE-->
<div class="addSowing"
     id="addSowing">
  <span class="__closeSymbol"
        id="addSowing__close">&#65291;</span>
  <div id="addSowing__veggieWrapper">
    <h2 id="addSowing__veggieName"
        class="addSowing__veggieName"></h2>
    <select name="addSowing__culture"
            id="addSowing__culture"></select>
    <select name="addSowing__variety"
            id="addSowing__variety"></select>
  </div>
  <div id="addSowing__dateWrapper">Aussaat-Datum:
    <span id="addSowing__date"></span>
  </div>
  <div id="addSowing__firstCropDateWrapper">Erster Ernte-Termin:
    <span id="addSowing__firstCropDate"></span>
  </div>
</div>
<!--OLD CODE-->
<div class="addSowing__requirements"
     id="addSowing__requirements">
  <label for="addSowing__seedAmount">Aussaat Menge</label>
  <input type="text"
         name="addSowing__seedAmount"
         id="addSowing__seedAmount">
  <div></div>
  <label for="addSowing__bedLength">Beet-Länge (m)</label>
  <input type="text"
         name="addSowing__bedLength"
         id="addSowing__bedLength">
  <div></div>
  <label for="addSowing__quickpotAmount">Quickpots</label>
  <input type="text"
         name="addSowing__quickpotAmount"
         id="addSowing__quickpotAmount">
  <div id="addSowing__quickpotSize"></div>
</div>
<div id="quickpots"
     class="quickpots">
</div>
<div class="addSowing__cropsWrapper"
     id="addSowing__cropsWrapper">
</div>
<a href="#"
   class="button"
   id="addSowing__reset">Reset</a>
<a href="#"
   class="button button--attention"
   id="addSowing__save">Speichern</a>