<h2>Landschaftspflege</h2>
<h3>Haager Tal</h3>
<p>Seit 2018 werden im Haager Tal rund um den Wimmersbach ca. 15.000 m² durch
  eine naturschutzfachliche Pflege offen gehalten. Dadurch entstehen wertvolle
  Lebensräume für viele Tier- und Pflanzenarten.</p>
<p>Das Projekt wird vom LEV Rhein-Neckar e.V. in Kooperation mit dem
  Rhein-Neckar-Kreis geplant und über Landesmittel finanziert.</p>
<p>Fragen zum Projekt?
  Landschaftserhaltungsverband Rhein-Neckar e.V.
  Muthstraße 4
  74889 Sinsheim
  Tel.: 06221/522-5384
  E-Mail: Nadja.Salzmann-LEV@Rhein-Neckar-Kreis.de
</p>