<h1>Arbeitsschritte - Säen, Pflanzen, Roden</h1>
<table class="reportTable"
       id="report-1__table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="4">Quickpots</th>
      <th></th>
      <th colspan="5">Summe Quickpots</th>
      <th></th>
    </tr>
    <tr>
      <th>Datum</th>
      <th>Arbeitsschritt</th>
      <th>Sorte</th>
      <th>Anzahl</th>
      <th>15</th>
      <th>77</th>
      <th>84</th>
      <th>144</th>
      <th>Beetmeter</th>
      <th>15</th>
      <th>77</th>
      <th>84</th>
      <th>144</th>
      <th>alle</th>
      <th>Summe Beetmeter</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>