<h1>Registrieren</h1>
<form action="/checkSignup"
      method="post"
      novalidate>
  <div>
    <label for="name">Name</label>
    <input type="text"
           name="name"
           id="name">
  </div>
  <div>
    <label for="email">E-Mail</label>
    <input type="email"
           name="email"
           id="email">
  </div>
  <div>
    <label for="password">Passwort</label>
    <input type="password"
           name="password"
           id="password">
  </div>
  <div>
    <label for="password2">Passwort wiederholen</label>
    <input type="password"
           name="password2"
           id="password2">
  </div>
  <button>Registrieren</button>
</form>