<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="default.css">
  <link rel="icon"
        href="/images/favicon.svg"
        type="image/svg+xml">
  <link rel="icon"
        href="/images/favicon.png"
        type="image/png">
  <title>Reinwiese</title>
</head>
<body>
  <header>
    <div class="header__logoWrapper">
      <img src="/images/logo.svg"
           alt="Hof Reinwiese Logo"
           class="header__logoImage">
    </div>
    <div class="header__h1Wrapper">
      <h1 class="header__h1">Gemüsekisten-Planer</h1>
    </div>
    <nav class="header__mainNav">
      <ul>
        [%nav%]
      </ul>
    </nav>
  </header>
  <main>
    [%content%]
  </main>
</body>
</html>