@charset "utf-8";

@font-face {
  font-family: 'Love Ya Like A Sister';
  src: url('https://reinwiese.de/LoveYaLikeASister-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('https://reinwiese.de/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  font-size: 1.8rem;
}

input[type='text'] {
  width: 50px;
}

input[readonly] {
  background-color: #ccc;
  color: #777;
}

label {
  text-align: right;
}

.wait {
  height: 100vh;
}

.wait,
.wait * {
  cursor: wait !important;
}

.__closeSymbol {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: rotate(45deg);
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.head {
  font-weight: bold;
}

.addBoxes__h3,
.addBox__h3,
.addMarketDays__h3,
.addMarketDay__h3 {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.addSowing__crops {
  border-spacing: 1rem 0;
}

.addBoxes__inputWrapper,
.addMarketDays__inputWrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.addSowing {
  scroll-margin-top: 20rem;
}

.addSowing,
.addBoxes__wrapper,
.addBox__wrapper,
.addMarketDays__wrapper,
.addMarketDay__wrapper {
  position: relative;
  display: table;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0 3.2rem 0;
  padding-right: 2.5rem;
}

.addBox__wrapper,
.addMarketDay__wrapper {
  margin-top: 2.4rem;
}

.addSowing > * {
  margin: 6px;
}

.addSowing__requirements {
  border-spacing: 1rem 0;
}

.quickpots {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
}

.quickpots__actionsWrapper {
  width: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quickpots__quickpot {
  display: grid;
  width: 56px;
  height: 96px;
}

.quickpots__quickpot15 {
  grid-template-columns: repeat(3, 1fr);
}

.quickpots__quickpot77 {
  grid-template-columns: repeat(7, 1fr);
}

.quickpots__quickpot84 {
  grid-template-columns: repeat(7, 1fr);
}

.quickpots__quickpot144 {
  grid-template-columns: repeat(9, 1fr);
}

.quickpots__slot {
  border: 1px solid black;
}

.quickpots__slot--empty {
  background-color: red;
}

.quickpots__slot--filled {
  background-color: green;
}

.mirror {
  display: inline-block;
  transform: rotate(180deg);
}

#quickpots__floor,
#quickpots__ceil {
  margin: 0;
}

/*#################################################################*/

/* HEADLINES */

.addSowing__veggieName,
.addBox__h3,
.addBox__h3:hover,
.addBox__h3:active,
.addBox__h3:link,
.addBox__h3:visited,
.addBoxes__h3,
.addBoxes__h3:hover,
.addBoxes__h3:active,
.addBoxes__h3:link,
.addBoxes__h3:visited,
.addMarketDay__h3,
.addMarketDay__h3:hover,
.addMarketDay__h3:active,
.addMarketDay__h3:link,
.addMarketDay__h3:visited,
.addMarketDays__h3,
.addMarketDays__h3:hover,
.addMarketDays__h3:active,
.addMarketDays__h3:link,
.addMarketDays__h3:visited {
  margin-top: 0;
}

/* BOXES */
.box,
.marketDay {
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.box--lastClicked,
.marketDay--lastClicked {
  border-color: var(--primary);
  background-color: hsl(102deg 54% 80% / 20%);
}

.box__date,
.marketDay__date {
  border: 0px none transparent;
}

.box__veggieName--highlighted,
.marketDay__veggieName--highlighted {
  color: var(--primary--dark);
}

.box__addVeggieButton,
.box__addVeggieButton:link,
.box__addVeggieButton:visited,
.box__addVeggieButton:hover,
.box__addVeggieButton:active,
.marketDay__addVeggieButton,
.marketDay__addVeggieButton:link,
.marketDay__addVeggieButton:visited,
.marketDay__addVeggieButton:hover,
.marketDay__addVeggieButton:active {
  padding: 0px 4px;
  margin: 4px;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}
