@charset "utf-8";

@font-face {
  font-family: 'Love Ya Like A Sister';
  src: url('https://reinwiese.de/LoveYaLikeASister-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('https://reinwiese.de/Inter-VariableFont_slnt\,wght.ttf');
}

input[type='text'] {
  width: 50px;
}

label {
  text-align: right;
}

.wait {
  height: 100vh;
}

.wait,
.wait * {
  cursor: wait !important;
}

/* .button {
  display: inline-block;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  padding: 0px 4px;
  margin: 4px;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  cursor: pointer;
} */

/* .button:active {
  background-color: rgb(250, 250, 250);
  border-color: rgb(150, 150, 150);
}
 */
.closeSymbol {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: rotate(45deg);
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

#sowingForm__close {
  margin: 0;
}

.head {
  font-weight: bold;
}

.planMultiBoxes__h3,
.addBox__h3 {
  display: flex;
  justify-content: space-between;
}

.cropsWrapper {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  column-gap: 10px;
}

.planMultiBoxes__inputWrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.box {
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.box__date {
  border: 0px none transparent;
}

.sowing,
.planMultiBoxes__wrapper,
.addBox__wrapper {
  position: relative;
  display: table;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  padding-right: 25px;
}

.sowing > * {
  margin: 6px;
}

.wrapper3columns {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 10px;
}

.quickpots {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
}

.quickpots__buttonWrapper {
  width: 56px;
}

.quickpot {
  display: grid;
  width: 56px;
  height: 96px;
}

.quickpot15 {
  grid-template-columns: repeat(3, 1fr);
}

.quickpot77 {
  grid-template-columns: repeat(7, 1fr);
}

.quickpot84 {
  grid-template-columns: repeat(7, 1fr);
}

.quickpot144 {
  grid-template-columns: repeat(9, 1fr);
}

.slot {
  border: 1px solid black;
}

.slot--empty {
  background-color: red;
}

.slot--filled {
  background-color: green;
}

.mirror {
  display: inline-block;
  transform: rotate(180deg);
}
